@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	background-image:url(images/police-oklahoma-city-logo-vector.png);
	background-repeat: no-repeat;
	background-size: 500px 250px;
	background-attachment: fixed;
	background-position: center;
	background-color: lightseagreen;
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;

}

h1,h2,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}
.criminalsList{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-between;
}
.criminal {
	color: white;
	border: 1px dotted red;
	margin:  1em;
	padding: 0.5em;
	flex-basis: 25%;
}
h3{
	font-family: "Patua One", serif;
	letter-spacing: 5px;
	text-align: center;
}